<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Index Page</h1>

    <ul>
        <% for(let i = 0; i < tvshows.length; i++){ %>
          <li>
               The <a href="/home/<%=tvshows[i].id%>"><%=tvshows[i].name; %></a> is  <%=tvshows[i].reason; %>.

                <% if(tvshows[i].netflixHulu === true){ %>
                  It is on Netflix or Hulu!!!!!
                <% } else { %>
                  It is not on Netflix or Hulu.
                <% } %>

    <form >
    <!-- <form method="POST" action="">?_method=POST"> -->
      <input type="submit" value="" />
    </form>


    <a href ="/home/<%=tvshows[i].id%>/edit">Edit</a>

</li>
<% } %>
</ul>
<nav>
<a href="/home/new">Create a New TV Show for Party Potensh to Watch</a>
</nav>

  </body>
</html>
