<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1> New TV Show to Watch </h1>
<form action="/" method="POST">
  TV Show: <input type="text" name="name"><br>
  Why?: <input type="text" name="reason"><br>
  Is It On Netflix or Hulu? <input type="checkbox" name="netflixHulu"><br>
  <input type="submit">
</form>
  </body>
</html>
